apiVersion: apps/v1
kind: Deployment
metadata:
  name: mcp-everything
  labels:
    app: mcp-everything
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcp-everything
  template:
    metadata:
      labels:
        app: mcp-everything
    spec:
      containers:
        - name: mcp-everything
          image: umesh1212/trivy-mcp-server:v4
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          ports:
            - name: http
              containerPort: 9090
---
apiVersion: v1
kind: Service
metadata:
  name: mcp-everything
spec:
  selector:
    app: mcp-everything
  ports:
    - name: http
      port: 9090
      targetPort: 9090
  type: LoadBalancer
