*.env
__pycache__/
*.pyc
*.pyo
mcp-local-sql-client/myenv
*.venv
venv
logs/
.env
*.log
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/
.env.local
.env.development.local
sessions.json
setup-env.sh
