mcp[cli]>=1.13.1
openai>=1.75.0
redis==6.0.4
python-dotenv
ipykernel
httpx
nest_asyncio
strands-agents[openai]
strands-agents-tools]>=1.13.1
openai>=1.75.0
redis==6.4.0
python-dotenv
ipykernel
httpx
nest_asyncio
opensearch-py==3.0.0
faiss-cpu==1.12.0
mem0ai==0.1.116